* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1 {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
    width: 100%;
    height: 100%;
    background-position: 33% 15%;
    margin: 0;
    
}

h2 {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
}

h3 {
    margin: 10px;
}

p {
    margin-left: 10px;
}

.brushes {
    margin: 40px 7px 20px 7px;
    background-color: mediumspringgreen;
}

.frames {
    margin: 40px 7px 20px 7px;
    background-color: lightcoral;
}

.paint {
    margin: 40px 7px 20px 7px;
    background-color: skyblue;
}

img {
    margin-left: 10px;
}

.price {
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}




    